@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: 4rem auto fit-content(4rem);
    grid-template-areas: "header"
                         "main"
                         "footer";
    /* padding-top: 4rem; */
    height: 100%;
}

main {
    /* min-height: calc(100vh - 3.5rem - 3.7rem);
    margin-top: 3.5rem; */
    grid-area: main;
}

body::-webkit-scrollbar {
    display: none;
}

.backdrop {
    position: fixed;
    display: none;
    opacity: 0;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    transition: opacity 0.2s linear;
}

.mobile-nav {
    opacity: 0;
    position: fixed;
    transform: translateX(-30rem);
    transition: opacity 0.2s ease-out, transform 500ms ease-out;
    z-index: 101;
    top: 0;
    left: 0;
    background: white;
    width: 80%;
    height: 100vh;
  }
  
  .mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .mobile-nav__item {
    margin: 1rem 0;
  }
  
  .mobile-nav__item a {
    font-size: 1.5rem;
  }

.button {
    background: #0e4f1f;
    color: white;
    font: inherit;
    font-weight: bold;
    border: 1.5px solid #0e4f1f;
    border-radius: 8px;
    padding: 0.5rem;
    cursor: pointer;
}

.button:hover, 
.button:active {
    background: white;
    color: #0e4f1f;
}

.button:focus {
    outline: none;
}

.button[disabled] {
    cursor: not-allowed;
    background: #866c6b;
    color: #9b9393;
    border: #866c6b;
}

.main-header {
    width: 100%;
    background: #2ddf5c;
    padding: 0.5rem 1rem;
    position: fixed;
    z-index: 3;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header > div {
    display: flex;
    align-items: center;
}

.toggle-button {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
  }
  
.toggle-button:focus {
outline: none;
}

.toggle-button__bar {
width: 100%;
height: 0.2rem;
background: black;
display: block;
margin: 0.6rem 0;
}
  

.main-header__brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    height: 2.375rem;
    display: flex;
}

/* .main-header__brand img {
    height: 100%;
} */

.main-nav {
    display: none;
    text-align: right;
    /* width: calc(100% - 122px); */
    vertical-align: middle; 
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    display: flex;
}

.main-nav__item {
    margin: 0 1rem;
}

.main-nav__item a,
.mobile-nav__item a {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
}

.main-nav__item a:hover, 
.main-nav__item a:active{
    color: white;
    border-bottom: 5px solid white;
}

.main-nav__item--cta {
    animation: wiggle 0.2s 2s 8 none;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a{
    color: white;
    background: red;
    border-radius: 8px;
    padding: 0.5rem 1rem;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active{
    color: red;
    background: white;
    border-bottom:none;
}

.main-footer {
    background: black;
    grid-area: footer;
}

.main-footer__links {
    margin: 0;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-footer__link a{
   color: white;
   text-decoration: none;
}

.main-footer__link {
    display: block;
    margin: 0.5rem 0;
}

.main-footer__link a:hover, 
.main-footer__link a:active {
    color: #ff0000;
}

.open {
    display: block !important;
    opacity: 1 !important;
    transform: translateY(0);
    transform: translateX(0);
}

@media (min-width:40rem){
    .toggle-button {
        display: none;
    }
    
    .main-header {
       height: 4rem;
    }

    /* .main-header__brand {
        height: 100%;
    } */

    /* .main-nav {
        width: calc(100% - 70px);
        width: 90%;
        text-align: right;
        padding: 1rem 2rem;
    } */

    .main-nav {
        display: flex;
    }

    .main-header__brand img {
       position: relative;
       bottom: 0.2rem;
    }

    .main-footer__link {
        margin: 0 1rem;
    }

    .main-footer__links {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
  
}

@keyframes wiggle {
    
    0% {
        transform:  rotateZ(0deg);
        transform-origin: center;
    }
    50% {
        transform: rotateZ(-10deg);
    }
    100% {
        transform: rotateZ(10deg);
    }

}

@keyframes flip-customer {
    0% {
        transform: rotateY(0deg) skew(10deg);
    }
    50% {
        transform: rotateY(160deg) skew(10deg);
    }
    100% {
        transform: rotateY(360deg) skew(10deg);
    }
}