
.testimonial {
    font-size: 1.25rem;
    margin: 3rem 0;
  }
  
  .testimonial__list {
    width: 80%;
    margin: auto;
  }

  main {
    padding-top: 2.5rem;
  }

  .testimonial__image-container {
    width: 100%;
    min-width: 350px;
    max-width: 640px;
    padding: 0 0.5rem;
    display: block;
    transform: skew(10deg);
    overflow: hidden;
    /* box-shadow: 3px 3px 3px 4px rgba(0, 0, 0, 0.3); */
  }

  #customer-1:hover .testimonial__image-container,
  #customer-2:hover .testimonial__image-container{
      animation: flip-customer 1s 1s 1 forwards;
  }

  .testimonial__image {
    width: 100%;
    vertical-align: top;
    transform: skew(-10deg);
    transform: scale(1.2);
  }
  .testimonial__info {
    text-align: right;
    display: block;
    width: 100%;
  }
  
  #customer-2.testimonial {
    text-align: right;
  }
  
  #customer-2 .testimonial__info {
    text-align: left;
  }
  
  .testimonial__name {
    margin: 0.5rem;
    color: #ff5454;
    font-size: 2em;
  }
  
  .testimonial__subtitle {
    margin: 0.5rem;
    font-size: 1.1rem;
    color: #ccc;
  }
  
  .testimonial__subtitle a {
    color: inherit;
    text-decoration: none;
  }
  
  .testimonial__subtitle a:hover,
  .testimonial__subtitle a:active {
    color: #7a7a7a;
  }
  
  .testimonial__text {
    margin: 0.5rem;
    font-size: 1.25rem;
  }
  
  @media (min-width:40rem) {
    .testimonial__image-container  {
      width: 62%;
      box-shadow: 3px 3px 3px 4px rgba(0, 0, 0, 0.3);
      padding: 0;
      transform: skew(10deg);
      overflow: hidden;
    }

    .testimonial__image {
      transform: skew(-10deg);
      transform: scale(1.2);
    }

    .testimonial__info {
      width: 25%;
    }
    .testimonial {
      max-width: 1500px;
      margin: 3rem auto;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }