@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

a {
    text-decoration: none;
}

main{
    padding-top: 2rem;
}

.background {
    background: url("../images/plans-background.jpg") center/cover;
    filter: grayscale(60%);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.package {
    width: 80%;
    border: 3px solid #13371b;
    margin: 0.5rem 20% 0px 0px;
    position: relative;
}

.package p {
    border: 1px solid #13371b;
    background: white;
    padding: 1.6rem;
    margin: 1.25rem;
    color: #13371b;
}

.package__info {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: italic;
}

.plus-plan:hover,
.free-plan:hover,
.premium-plan:hover,
.plus-plan:active,
.free-plan:active,
.premium-plan:active {
    animation: high-light 0.2s forwards;
}

.package:hover,
.package:active {
    box-shadow: 2px 2px 4px rgba(0,0,0.5);
    border-color: #f86d2d;
}

.free-plan, .premium-plan  {
    margin-top: 1.25rem;
}

.plus-plan {
    background: #cff7d8;
    overflow: hidden;
}

.package__badge {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    width: 10.5rem;
    text-align: center;
    font-size: 0.8rem;
    color: white !important;
    background: #ff5454;
    padding: 0.5rem; 
    transform: rotate(45deg) translateX(3rem) translateY(-0.2rem);
    transform-origin: center;
}


/*  */

.free-plan {
    background: #e8f8ec;
    float: right;
    margin: 1.25rem 0px 0px 0px;
}

.clearfix {
    clear: both;
}


/*  */

.premium-plan{
    background: #1a4729;
}

/*  */

.plus-plan h1, .free-plan h1 {    
    margin-left: 1.25rem;
    color: black;
}

.plus-plan h2, .free-plan h2 {  
    margin-left: 1.25rem;  
    color: #8f8c8f;
}

.premium-plan h1 {
    color: white;
    margin-left: 1.25rem;
}

.premium-plan h2 {
    color: #989c9b;
    margin-left: 1.25rem;
}

@media (min-width: 40rem) {
    main {
        /* margin: 2rem auto; */
        max-width: 1500px;
        margin-left: auto;
        margin-right: auto;
    }    
}

@keyframes high-light {
    0% {
        transform: scale(1);
    }
    100% {
        transform:translateX(3rem) scale(1.2);
    }

    /* 0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(-10px);
    } */
}